body {
  background-color: #FFEFD6;
  font-family: "Andale Mono", "Lucida Console", "Courier", monospace;
}

hr {
  border-color: #F2DEBA;
  border-style: dotted none none;
  border-width: 8px;
}

h1, h3 {
  color: #0E5E6F;
}

p, ul, table {
  color: #3A8891;
}

.profile-photo {
  width: 100%;
  border-radius: 50%;
}
