:root {
    --pastel-yellow:#F2D388;
    --pastel-teal:#A7D2CB;
    --pastel-orange:#C98474;
    --pastel-maroon:#874C62;
}

body {
    font-family: "JetBrains Mono", monospace;
    background-color: var(--pastel-teal);
    min-width: 11em;
    
}

h1 {
    text-align: center;
    color: #C98474;
    margin: 1em;
}

h2 {
    text-align: center;
}

a {
    color: var(--pastel-orange)
}

.profile-photo {
    display: block;
    margin: auto auto 2em auto;
    max-width: 50%;
    height: auto;
    border-radius: 50%;
}



.social-links-box .text-box {
    width: auto;
    height: auto;
    min-width: 11em;
    min-height: 3em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 5%;
    border-radius: 0.75em;
    margin: 5%;
    text-align: justify;
    text-justify: inter-word;
}


.fa-brands {
    color: var(--pastel-maroon)
}

.fa-brands:hover {
    color: lightsalmon;
}

.about-me {
    background-color: var(--pastel-yellow);
}

.languages {
    background-color: var(--pastel-orange);
}

